.modal-container {
  border: 2px black solid;
  width: 80%;
  padding: auto;
  margin: auto;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(192,192,192,0.3);
}

.modal-content {
  display: block;
  background-color: lightsalmon;
  width: 60%;
  position: fixed;
  top: 30%;
  left: 25%;
}

.modal-interactive {
  display: flex;
  flex-direction: column;
}

.input-modal {
  width: 10%;
}

.btn {
  width: 60%;
  padding-top: 20%;
  margin: auto;
}

.btn > button {
  padding: auto;
  margin: auto;
}